/* Documento css */

.nav-link:hover
{
  color: white;
}

.jumbotron, .container
{
  text-align: center;
}

div.card
{
  text-align: center;
  font-family: sans-serif;
}

.font
{
  font-family: sans-serif;
}

.img
{
  opacity: 0.8;
}

@media (min-width: 1200px)
{
  .img
      {
        width: 100%;
        height: 450px;
      }

  .content
  {
    text-align: center;
    position: relative;
    top: 20px;
    right: 148px;
  }
}

@media (max-width: 576px)
{
  .img
  {
    max-width: 100%;
  }

  .content
  {
    text-align: center;
    position: relative;
    top: 20px;
    right: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px)
{
  .img
  {
    max-width: 100%;
  }
  .content
  {
    text-align: center;
    position: relative;
    top: 20px;
    right: 148px;
  }
}

@media (min-width: 576px) and (max-width: 767px)
{
  .img
  {
    max-width: 100%;
  }
  .content
  {
    text-align: center;
    position: relative;
    top: 20px;
    right: 148px;
  }
}

@media (min-width: 992px) and (max-width: 1199px)
{
  .img
  {
    max-width: 100%;
  }
  .content
  {
    text-align: center;
    position: relative;
    top: 20px;
    right: 148px;
  }
}

.jumbotron-fluid
{
  text-align: center;
}

.img-cod
{
  text-align: center;
}

.back-color
{
  background-color: #e9ecef;
}

.col-width
{
  text-align: center;
}

* {box-sizing: border-box;}
body
{
  background: #e9ecef;
  font-family: 'Roboto', sans-serif;
}

.ui-form
{
  max-width: 550px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background-color: white;
  text-align: center;
  position: relative;
  bottom: 55px;
}
.ui-form h3
{
  position: relative;
  z-index: 5;
  margin: 0 0 60px;
  text-align: center;
  color: #4a90e2;
  font-size: 30px;
  font-weight: normal;
}

.form-row
{
  position: relative;
  margin-bottom: 40px;
}

.form-row input
{
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  transition: all 0.2s ease;
}

.form-row label
{
  position: absolute;
  left: 13px;
  color: black;
  font-size: 15px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}

.form-row input:focus
{
  outline: 0;
  border-color: #4a90e2;;
}

.form-row input:focus + label,
.form-row input:valid + label
{
  transform: translateY(-30px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
}

.ui-form input[type="submit"]
{
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #4a90e2;
  border-width: 0;
  color: white;
  font-size: 20px;
}

.ui-form p
{
  margin: 0;
  padding-top: 10px;
}

.span
{
 background-color: white;
 position: relative;
 bottom: 47px;
}

.lead-pos
{
  position: relative;
  bottom: 34px;
  left: 154px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.line
{
  position: relative;
  top: 20px;
}

hr
{
  background: black;
  opacity: 0.3;
}

.my-4
{
  position: relative;
  bottom: 20px;
}

.ui
{
  background: #e9ecef;
  position: relative;
  bottom: 55px;
}

html
{
  font-family: 'Roboto', sans-serif;
}
